<div class="form-group">
    <div class="ui-inputgroup">
        <span class="ui-float-label">
                  <input type="text" id="AddressKey" pInputText [(ngModel)]="Contact.Phone1" size="15"/>
                  <label for="ContactKey">Phone1</label>
                </span>
        <span class="ui-float-label">
                  <input type="text" id="AddressValue" pInputText [(ngModel)]="Contact.Phone2" size="15"/>
                  <label for="ContactValue">Phone2</label>
                </span>
        <button type="button" pButton icon="pi pi-trash" class="ui-button-danger"></button>
    </div>
</div>