<div class="form-group">
    <div class="ui-inputgroup">
        <span class="ui-float-label">
                  <input type="text" id="AddressKey" pInputText [(ngModel)]="Address.Add1" size="15"/>
                  <label for="AddressKey">Address1</label>
                </span>
        <span class="ui-float-label">
                  <input type="text" id="AddressValue" pInputText [(ngModel)]="Address.Add2" size="15"/>
                  <label for="AddressValue">Address2</label>
                </span>
    </div>
</div>